@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');


:root {
  /* COLORS */
  --main-bg-color: #f6efe4;
  --accent-bg-color: #DCC7AA;
  --white-bg-color: rgb(255, 255, 255);

  /* FONTS */
  --font-family-ibm: 'IBM Plex Sans', sans-serif;
  --font-family-kanit: 'Kanit', sans-serif;
  --font-family-outline: 'Londrina Outline', sans-serif;
  --font-family-outline-2: 'Bungee Outline', sans-serif;
}


/* COLOR CLASSES */
.bg-color-main {
  background-color: var(--main-bg-color);
}
.bg-color-accent {
  background-color: var(--accent-bg-color);
}

.font-outline {
  font-family: 'Londrina Outline', cursive;
  color: rgba(255, 255, 255);
  -webkit-text-stroke-width: 7px;
  -webkit-text-stroke-color: black;
}
@media screen and (max-width: 768px) {
  .font-outline-2 {
    -webkit-text-stroke-width: 3px;
  }
}

.font-outline-2 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}



body {
  box-sizing: border-box;
  background-color: var(--white-bg-color);
  font-family: var(--font-family-kanit);
  font-weight: 300;
  font-size: 16px;
}

.banner-container {
  position: relative;
}

.banner-container.image-div {
  display: block;
}
