@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');


:root {
  /* COLORS */
  --main-bg-color: rgb(246, 239, 228);
  --accent-bg-color: rgb(248, 225, 211);

  /* FONTS */
  --font-family-ibm: 'IBM Plex Sans', sans-serif;
  --font-family-kanit: 'Kanit', sans-serif;
  --font-family-outline: 'Londrina Outline', sans-serif;
  --font-family-outline-2: 'Bungee Outline', sans-serif;
}


/* COLOR CLASSES */
.bg-color-main {
  background-color: var(--main-bg-color);
}
.bg-color-accent {
  background-color: var(--accent-bg-color);
}

.font-outline-2 {
  font-family: var(--font-family-outline-2);
}



body {
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  font-family: var(--font-family-kanit);
  font-weight: 300;
  font-size: 16px;
}

.banner-container {
  position: relative;
}

.banner-container.image-div {
  display: block;
}

/* First clip path */
.clip-path-1 {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

/* Second clip path */
.clip-path-2 {
  clip-path: circle(50% at 80% 30%);
}